<div>	
    <div class="content legal">
        <div class="l-box">
            <h2><mark>Hello! You caught us before we're ready.</mark></h2>
			<p>We are working hard to put the finishing touches into Encrypt.to. Things are going well and it should be ready very soon. If you'd like us to send you a reminder when we're ready, just put your email below:</p>
			<br />
			
			<%= form_for @lead, :html => { :class => "pure-form pure-form-aligned"  } do |f| %>
	 		 
			  <% if @lead.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this user from being saved:</h2>

			      <ul>
			      <% @lead.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.text_field :email, :placeholder => "E-mail address" %>
			  </div>
				<br />
			  <div class="actions">
					<input name="commit" id="submit" type="submit" value="Submit" class="pure-button pure-button-primary">
			   </div>
			<% end %>
			 </div>
    </div>	
</div>






