defaults: &defaults
  address:
  port:
  domain:
  user_name:
  password:
  authentication: 'plain'
  enable_starttls_auto: false
  openssl_verify_mode: 'none'
  sender:
  service_name: 
  owner: 
  owner_keyid: 
	    
development:
  keyserver:
  app_token:
	devise_token:
	host: 
  <<: *defaults

test:
  <<: *defaults

production:
  keyserver:
  app_token:
	devise_token: 
	host:
  <<: *defaults

