<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Encrypt.to sent your encrypted mail to <%= "https://encrypt.to/#{@to}" %>.</p>
	<p>Thanks!</p>  
  </body>
</html>
